<!DOCTYPE html>
<html lang="en">
  <head>


    <meta charset="utf-8">
   <title>{% block title %}SideStories: Content Art Object Time View{% endblock %}</title>
   </head>
<body>
   <svg height="5" width="5" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <pattern id='smalldot' patternUnits="userSpaceOnUse" width="5" height="5">
      <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+" x="0" y="0" width="5" height="5">
      </image>
    </pattern>
  </defs>
</svg>

<div id='page'>


</div>

        <script src="/media/js/d3.v3.min.js"></script>
        <style type="text/css">
            body {
                padding: 0;
                margin: 0;
                font-family: "Minion Pro", Gentium, "Gentium Basic", "Hoefler Text", Constantia, "Palatino Linotype", Georgia, serif;
            }
            #page {
            }
        </style>

        <script type="text/javascript">
            d3.json("/media/unifiedData.json", function(error, data){
                //use data here
                console.log("ready")
                console.log(data[''])
                for (story in data) {
                    console.log(story)
                    for (element in story){
                        console.log(element)
                    }
                //Do your logic with the property here
                }
            })

            //Width and height
            var w = 1024;
            var h = 2500;
            var offset = 100;

            // A List of real Objects, by time and URL and Score

            var realObjectDataset = [
            // A list of [ realObjCnt , item.image , item.phrase ]
            // x is realObjCnt*100, y is a Count going in  +/- 100
            {% for each in imageInfo %}
               {    "normalizedTime":{{ each.0 }},
                    "imageURL":'{{ each.1}}',
                    "phrase":"{{ each.2}}",
                    "cx": ( {{ each.0 }} * (w-offset) ) + offset,
                    "cy": (( {{ forloop.counter0 }}  ) * 100 )+ offset,
                    "r": 50
                },
                {% endfor %}
            ]

            // A List of words in story.
            var wordDataset = [
                {% for each in content %}
                {"text": "{{ each }}",
                    "x": ( ( {{ forloop.counter0 }} / 15 ) * 100 )+ offset,
                    "y": ( ( {{ forloop.counter0 }} % 15 ) * 100 )+ offset
                },
                {% endfor %}

            ]

            //Create SVG element
            d3.select("body")
                .append("svg")


            var svg = d3.select("#page")
                        .append("svg")
                        .attr("width", w)
                        .attr("height", h)
                        svg.selectAll("rect")
                        .append("rect")
                        .attr("width", w)
                        .attr("height",h )
                        .attr("x",0)
                        .attr("y",0)
                        .attr("fill", "url(#smalldot)"  )



            svg.selectAll("circle")
               .data(realObjectDataset)
               .enter()
               .append("circle")

               .attr("cx", function(d) {
                return d.cx;
               })
               .attr("cy", function(d) {
                    return d.cy;
               })
               .attr("r", function(d) {
                    return d.r;
               })
               .attr("fill", function(d,i){

                    svg.append("defs")
                    .append("pattern")
                    .attr( "x", d.cx - d.r)
                    .attr("y",  d.cy -d.r)
                    .attr("width",  d.cx*2)
                    .attr("height",  d.cy*2)
                    .attr("patternUnits","userSpaceOnUse")
                    .attr("id","myimage"+i )
                    .append("svg:image")
                    .attr( "xlink:href", d.imageURL  )
                    .attr("x", 0 )
                    .attr("y",0)
                    .attr("width",  d.r*2 )
                    .attr("height", d.r*2)

                    svg.append("circle")
                    .attr("cx",  d.cx)
                    .attr("cy", d.cy)
                    .attr("r", d.r)
                    .attr("fill", "url(#myimage" + i + ")" )
                    .style("stroke", "black")
                    .style("stroke-width", 0.25);

                    svg.append("circle")
                    .attr("id", "shade"+i )
                    .attr("cx",d.cx)
                    .attr("cy", d.cy)
                    .attr("r", d.r)
                    .attr("fill", "black")
                    .attr("opacity", 0)
                    .on("mouseover", function(){
                        d3.select(this).transition()
                            .attr("opacity", 1);
                        // d3.select("#page").transition()
                        //     .style("background-color", "black");
                    // d3.selectAll("#title" + d[0] )
                    //     .attr("opacity", 1);
                    // d3.selectAll("#shade" + d[0] )
                    //     .attr("opacity", 0.5);
                    })
                    .on("mouseout", function(){
                            d3.select(this).transition()
                            .attr("opacity", 0);
                    // d3.selectAll("#title" + d[0] )
                    //     .attr("opacity", 0);
                    // d3.selectAll("#shade" + d[0] )
                    //     .attr("opacity", 0);
                    });
                })

            svg.selectAll("text")
               .data(wordDataset)
               .enter()
               .append("text")
               .text( function(d){ return d.text } )
               .attr("x", function(d){ return d.x })
               .attr("y", function(d){ return d.y  })





        </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47389602-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
