{% extends 'base.html' %}
{% block yavascript %}
<script type="text/javascript" src="/media/jquery1.9.min.js"></script>
<script type="text/javascript" src="/media/jquery.transit.min.js"></script>
<script type="text/javascript">

var startTime = 0
var timeOnPage = 0
var imgDataset = []
var idDataset = []
var maxImages = 12
var numImages = 0
var offset = 0
var numANpairs = 0;
keyPressHistory = ""
wordMemory = ""
author = ""
wordPriorType = ""
wordPrior = ""
wordCurrent = ""
wordCurrentType = ""

{% if user.is_authenticated %}
    author = "{{ participantID }}"
{% else %}
    author = "{{ participantID }}"
{% endif %}


// Used by dataFunction
function drawImages() {

    for( var i = 0; i < imgDataset.length; i++) {
        $('#img' + String(i+offset) ).fadeTo( 2000, 1 )
        $('#img' + String(i+offset) ).attr('src',imgDataset[i] );
        $('#img' + String(i+offset) ).attr('data-field',idDataset[i] );
    }
}

// DATA FUNCTION FOR PhysicalModelView RESULT
function dataFunction( data ) {
    console.log("Inside dataFunction");
    console.log(data)
    // Append the results to the imgDataset
    for (var i = 0; i < data['images'].length; i++) {
        imgDataset[numImages % maxImages] =  data['images'][i]
        idDataset[numImages % maxImages] =  data['id'][i]
        numImages++
    }
    drawImages()
}

// This function reads each word, and performs Natural Language Processing
function wordFunction( data ) {
    console.log(data)
     wordCurrent = data['word'];
     wordCurrentType= data['type']
     if( wordPrior == "") {
        // There is no prior word.
        wordPrior = wordCurrent
        wordPriorType = wordCurrentType
        console.log(" non con wordPrior: " + wordPrior, " wordPriorType: " + wordPriorType)
        console.log("non con wordCurrent: " + wordCurrent, " wordCurrentType: " + wordCurrentType)
     } else {
        console.log("wordPrior: " + wordPrior, " wordPriorType: " + wordPriorType)
        console.log("wordCurrent: " + wordCurrent, " wordCurrentType: " + wordCurrentType)
        // There is a prior word already.
        if (wordPriorType == 'adjective') {
            // The current word is a noun
            if(wordCurrentType == 'noun') {
                // Perform Search.
                {% block search %}
                // Update the URL used by the image Recommendations

                queryURL = "../atlas/model/" + author + "/" + wordPrior + "+" + wordCurrent + "/"
                {% endblock %}
                // Adjective Noun Pair
                var anPair = wordPrior +  " " + wordCurrent
                var fadeLen = 3000
                var rowModulo = String(numANpairs % 3)
                var offsetImgOpacity = rowModulo*4

                $('#img'+offsetImgOpacity ).fadeTo( fadeLen, 0 )
                $('#img'+String(offsetImgOpacity+1) ).fadeTo( fadeLen, 0 )
                $('#img'+String(offsetImgOpacity+2) ).fadeTo( fadeLen, 0 )
                $('#img'+String(offsetImgOpacity+3) ).fadeTo( fadeLen, 0 )

                numANpairs++
                performSearch();
                // Make wordPrior "" again
                wordPrior = ""
                wordPriorType = ""
                wordCurrent = ""
                wordCurrentType = ""

            }
        } else {
            wordPrior = wordCurrent
            wordPriorType = wordCurrentType
        }
    }
}

function performSearch() {
	$.ajax({
    	url: queryURL,
        success: dataFunction
    });
}

function typeOfWord() {
    $.ajax({
        url: wapURL,
        success: wordFunction
    });
}

keyPressHistory = ""
wordMemory = ""
author = ""
wordPriorType = ""
wordPrior = ""
wordCurrent = ""
wordCurrentType = ""

{% if user.is_authenticated %}
    author = "{{ participantID }}"
{% else %}
    author = "{{ participantID }}"
{% endif %}

//  Records all of the KeyPresses
// This should be switched to a different more reliable method which also tracks backspace
$(document).keypress(function(e) {
    //console.log( e.which )
    var c = String.fromCharCode(e.which)
    keyPressHistory = keyPressHistory + c
    if(e.which == 32 ) {
        console.log( 'space pressed ')
        console.log( wordMemory )

        // The reason for if check on word length is to prevent unecessary requests to server
        if ( wordMemory.length > 2 ) {

           {% block staticImg %}
            wapURL = "../atlas/json/typeOfWord/" + wordMemory + "/"
            typeOfWord();
            {% endblock %}
        }
        wordMemory = ""
    } else {
        c = c.toLowerCase()
        if ( (c >= 'a') && (c <= 'z') ) {
            wordMemory = wordMemory + c
        }
    }
});


(function($){
    $(document).ready(function(){
        startTime = $.now()
        console.log(startTime)
        for (var i = 0; i < maxImages; i++ ) {
        $('#img'+i).hover(
        function(){
            console.log("in")
            $(this).css("border", "5px solid #A4DBD8")
        },
        function(){
            console.log("out")
            $(this).css("border", "0px")
            }
        );

        $('#img'+i).click(function(){
                console.log( this );
                var url = this.src
                var name = $(this).attr("data-field")
                $.post("imageVote/",
                {name:name}, function(data,status){
                    $('#img' + offset ).attr('src',url );
                    $('#img' + offset ).attr('data-field',name  );
                    offset += 1
                    console.log("change the border of the image, to indicate liked ")
                });

            })
        }


    })

window.setInterval(timerLoop, 10000);
    function timerLoop() {
        timeOnPage = $.now()-startTime;
        document.getElementById('id_timeToWrite').value = timeOnPage;
        console.log(timeOnPage)
    }
} ) (jQuery);

</script>

{% endblock %}


















{% block css %}
<style type="text/css">
	html {
		margin:0;
		padding:0;
		color:#000;
	}
	body{
		background-color: #FFFFFF;
	}
    #page {
        margin-left: auto;
        margin-right: auto;
    }
    #id_timeToWrite{
        visibility: hidden;
    }
    textarea {
        font: 20px serif;
        width: 390px;
        height: 390px;
        margin-right: auto;
        border-style: solid;
        border-color: #000055;
        border-width: 1px;/*
        border: none;
        outline: none;
        border-style: none;
        border-color: Transparent;*/
        /*overflow: auto;
        position: relative;
        top: -174px;*/
    }
    label {
        /*display: none;*/
    }
    .spectrum {
        opacity: 0;
    }

    .thumbnail {
    position:relative;
    overflow:hidden;
    border:0px;
    }

    .caption{
    position:absolute;
    top:0;
    right:0;
    background:rgba(256, 256, 256,0);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color: black;
    z-index:-2;
    }
 </style>
{% endblock %}











{% block content %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-2">

        {% for each in imageList %}
        {% if forloop.counter0 == 0 or forloop.counter0 == 4 or forloop.counter0 == 8  %}
        <div class="thumbnail">
            <div class="caption">
            </div>
            <img id='img{{ forloop.counter0 }}' data-field="{{ each.id }}"
             width="260" height='300'   src="{{ each.image }}" class="img-rounded spectrum" data-toggle="tooltip" data-placement="left" title="Click to remember"></img>

        </div>
        {% endif %}
        {% endfor %}

</div>

  <div class="col-md-2">
        {% for each in imageList %}
        {% if forloop.counter0 == 1 or forloop.counter0 == 5 or forloop.counter0 == 9  %}

        <div class="thumbnail">
            <div class="caption">
            </div>
            <img id='img{{ forloop.counter0 }}' data-field="{{ each.id }}"
             width="260" height='300'   src="{{ each.image }}" class="img-rounded spectrum" data-toggle="tooltip" data-placement="left" title="Click to remember"></img>

        </div>
        {% endif %}
        {% endfor %}
    </div>

  <div class="col-md-4">
    <form id='form1' action="/atlas/makeStory?mode={{mode}}&id={{participantID}}" method="post">{% csrf_token %}
        <div class="form-group left">
            Title: {{ form.title }}
        </div>
        <table>
            <div class="form-group left">{{ form.content }}</div>
        </table>
        {{ form.timeToWrite }}
        <button id='formBtn' class="btn left">Done</button>
    </form>
  </div>

  <div class="col-md-2">
          {% for each in imageList %}
        {% if forloop.counter0 == 2 or forloop.counter0 == 6 or forloop.counter0 == 10  %}

        <div class="thumbnail">
            <div class="caption">
            </div>
            <img id='img{{ forloop.counter0 }}' data-field="{{ each.id }}"
             width="260" height='300'   src="{{ each.image }}" class="img-rounded spectrum" data-toggle="tooltip" data-placement="left" title="Click to remember"></img>

        </div>
        {% endif %}
        {% endfor %}

  </div>
  <div class="col-md-2">
                {% for each in imageList %}
        {% if forloop.counter0 == 3 or forloop.counter0 == 7 or forloop.counter0 == 11  %}

        <div class="thumbnail">
            <div class="caption">
            </div>
            <img id='img{{ forloop.counter0 }}' data-field="{{ each.id }}"
             width="260" height='300'   src="{{ each.image }}" class="img-rounded spectrum " data-toggle="tooltip" data-placement="left" title="Click to remember"></img>

        </div>
        {% endif %}
        {% endfor %}
  </div>
</div>
</div>


{% endblock %}
