{% extends 'base.html' %}
{% block yavascript %}
<script type="text/javascript" src="/media/jquery1.9.min.js"></script>
<script type="text/javascript" src="/media/jquery.transit.min.js"></script>
<script type="text/javascript">

var startTime = 0
var timeOnPage = 0
var imgDataset = []
var idDataset = []
var maxImages = 12
var numImages = 0
var offset = 0
var numANpairs = 0;
// Used by dataFunction
function drawImages() {

    for( var i = 0; i < imgDataset.length; i++) {
        $('#img' + String(i+offset) ).fadeTo( 2000, 1 )
        $('#img' + String(i+offset) ).attr('src',imgDataset[i] );
        $('#img' + String(i+offset) ).attr('data-field',idDataset[i] );
    }
}

// DATA FUNCTION FOR PhysicalModelView RESULT
function dataFunction( data ) {
    console.log("Inside dataFunction");
    console.log(data)
    // Append the results to the imgDataset
    for (var i = 0; i < data['images'].length; i++) {
        imgDataset[numImages % maxImages] =  data['images'][i]
        idDataset[numImages % maxImages] =  data['id'][i]
        numImages++
    }
    drawImages()
}

function wordFunction( data ) {
    console.log(data)
     wordCurrent = data['word'];
     wordCurrentType= data['type']
     if( wordPrior == "") {
        // There is no prior word.
        wordPrior = wordCurrent
        wordPriorType = wordCurrentType
        console.log(" non con wordPrior: " + wordPrior, " wordPriorType: " + wordPriorType)
        console.log("non con wordCurrent: " + wordCurrent, " wordCurrentType: " + wordCurrentType)
     } else {
        console.log("wordPrior: " + wordPrior, " wordPriorType: " + wordPriorType)
        console.log("wordCurrent: " + wordCurrent, " wordCurrentType: " + wordCurrentType)
        // There is a prior word already.
        if (wordPriorType == 'adjective') {
            // The current word is a noun
            if(wordCurrentType == 'noun') {
                // Perform Search.
                {% block search %}
                //queryURL = "../atlas/model/" + author + "/" + wordPrior + "+" + wordCurrent + "/"
                queryURL = "../atlas/json/imageSearch/" + wordPrior + "+" + wordCurrent +'/'
                {% endblock %}
                var anPair = wordCurrent +  " " + wordPrior
                var rowModulo = String(numANpairs % 3)
                var wordDiv = "<div id='an"+ rowModulo +"' class='an'>"+anPair+"</div>"
                $('#an' + rowModulo).replaceWith( wordDiv  )
                var offsetImgOpacity = rowModulo*4
                //$(document).ready(function(){
                var fadeLen = 3000
                $('#img'+offsetImgOpacity ).fadeTo( fadeLen, 0 )
                $('#img'+String(offsetImgOpacity+1) ).fadeTo( fadeLen, 0 )
                $('#img'+String(offsetImgOpacity+2) ).fadeTo( fadeLen, 0 )
                $('#img'+String(offsetImgOpacity+3) ).fadeTo( fadeLen, 0 )

                numANpairs++
                performSearch();
                // Make wordPrior "" again
                wordPrior = ""
                wordPriorType = ""
                wordCurrent = ""
                wordCurrentType = ""

            }
        } else {
            wordPrior = wordCurrent
            wordPriorType = wordCurrentType
        }
     }
     // if ( (wordPriorType == "") || (wordPriorType != 'adjective') )  {
     //            wapURL = "../atlas/json/typeOfWord/" + wordMemory + "/"
     //            wordPriorType = data['type'];
     //            wordPrior = wordMemory + "+"
     //        } else {
     //            wapURL = "../atlas/json/typeOfWord/" + wordMemory + "/"
     //            wordType = data['type'];
     //            if ((wordPriorType == 'adjective') && (wordType == 'noun')) {
     //                queryURL = "../atlas/model/" + author + "/" + wordPrior + wordMemory + "/"
     //                performSearch();
     //                console.log( queryURL);
     //            }
     //            wordPriorType = ""
     //            wordType = ""
     //        }

}

function performSearch() {
	$.ajax({
    	url: queryURL,
        success: dataFunction
    });

}

function typeOfWord() {
    $.ajax({
        url: wapURL,
        success: wordFunction
    });
}

keyPressHistory = ""
wordMemory = ""
author = ""
wordPriorType = ""
wordPrior = ""
wordCurrent = ""
wordCurrentType = ""

{% if user.is_authenticated %}
    author = "{{ participantID }}"
{% else %}
    author = "{{ participantID }}"
{% endif %}

$(document).keypress(function(e) {
    //console.log( e.which )
    var c = String.fromCharCode(e.which)
    keyPressHistory = keyPressHistory + c
    if(e.which == 32 ) {
        console.log( 'space pressed ')
        console.log( wordMemory )

        // The reason for if check on word length is to prevent unecessary requests to server
        if ( wordMemory.length > 2 ) {
           //$('#img0').transition({ opacity: 1, delay: 1000+(Math.random()*1000) })
           {% block staticImg %}
            wapURL = "../atlas/json/typeOfWord/" + wordMemory + "/"
            typeOfWord();
            {% endblock %}
        }
        wordMemory = ""
    } else {
        c = c.toLowerCase()
        if ( (c >= 'a') && (c <= 'z') ) {
            wordMemory = wordMemory + c
        }
    }
});


(function($){
    $(document).ready(function(){
        startTime = $.now()
        console.log(startTime)
        for (var i = 0; i < maxImages; i++ ) {
        $('#img'+i).click(function(){
                console.log( this );
                var url = this.src
                var name = $(this).attr("data-field")
                $.post("imageVote/",
                {name:name}, function(data,status){
                    $('#img' + offset ).attr('src',url );
                    $('#img' + offset ).attr('data-field',name  );
                    offset += 1
                });

            })
        }
    })

window.setInterval(timerLoop, 10000);
    function timerLoop() {
        timeOnPage = $.now()-startTime;
        document.getElementById('id_timeToWrite').value = timeOnPage;
        console.log(timeOnPage)
    }
//         function animationsLoop() {
//             for (var i = 0; i < maxImages; i++ ) {
//                 $('#img'+i).transition({opacity: 0, delay:500*(i%6) })
//                              .transition({opacity: 1, delay:500*(i%6)+3000 })
//             }
//     }
} ) (jQuery);

</script>

{% endblock %}


















{% block css %}
<style type="text/css">
	html {
		margin:0;
		padding:0;
		color:#000;
	}
	body{
		background-color: #FFFFFF;
	}
    #page {
        margin-left: auto;
        margin-right: auto;
    }
    #id_timeToWrite{
        visibility: hidden;
    }
    textarea {
        font: 20px serif;
        width: 390px;
        height: 390px;
        margin-right: auto;
        border-style: solid;
        border-color: #000055;
        border-width: 1px;/*
        border: none;
        outline: none;
        border-style: none;
        border-color: Transparent;*/
        /*overflow: auto;
        position: relative;
        top: -174px;*/
    }
    label {
        /*display: none;*/
    }
    .spectrum {
        opacity: 0;
        width: 200px;
        position: absolute;
        z-index: 1;
    }

    .spectrum0 {
        left: 0px;
        top: 10px;
    }
    .spectrum1 {
        left: 210px;
        top: 10px;
    }

    .spectrum2 {
        left: 820px;
        top: 10px;
    }
    .spectrum3 {
        left: 1030px;
        top: 10px;
    }
    .spectrum4 {
        left: 0px;
        top: 190px;
    }

    .spectrum5 {
        left: 210px;
        top: 190px;
    }

    .spectrum6 {
        left: 820px;
        top: 190px;
    }
    .spectrum7 {
        left: 1030px;
        top: 190px;
    }
    .spectrum8 {
        left: 0px;
        top: 380px;
    }

    .spectrum9 {
        left: 210px;
        top: 380px;
    }

    .spectrum10 {
        left: 820px;
        top: 380px;
    }
    .spectrum11 {
        left: 1030px;
        top: 380px;
    }
    .an{
        top: 0px;
        position: absolute;;
        left: 0px;
        width: 1240px;
        height: 180px;
        background-color: white;
        opacity: 1;
        z-index: -1;
        font-size: 22px;
        font-family: sans-serif;

    }
    #an0{
        top:0px;
        opacity: 1;
    }
    #an1{
        top:180px;
        opacity: 1;
    }
    #an2{
        top:360px;
        opacity: 1;

    }

    #content {
        width: 1240px;
        height: 500px;
        position: absolute;
        background-color: blue;
        margin-right: auto;
        margin-left: 30px;
        float: right;
        z-index: -3;
    }
    .left {
        margin-left: 370px;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }
     </style>
{% endblock %}











{% block content %}
<div id='content'>
            {% block center %}

            <div class="container">
             <form id='form1' action="/atlas/makeStory?mode={{mode}}&id={{participantID}}" method="post">{% csrf_token %}
                <div class="form-group left">
                Title: {{ form.title }}
                </div>
             <table>
                <div class="form-group left">{{ form.content }}</div>
            </table>
            {{ form.timeToWrite }}
             <button id='formBtn' class="btn left">Done</button>
            </form>
        </div>
            {% endblock %}

        <div id='an0' class="an">
        </div>
        <div id='an1'class="an">
        </div>
        <div id='an2'class="an">
        </div>
        {% for each in imageList %}
        <img id='img{{ forloop.counter0 }}' data-field="{{ each.id }}" src="{{ each.image }}" alt="..." class="img-rounded spectrum spectrum{{ forloop.counter0 }}"></img>
        {% endfor %}








</div>

{% endblock %}
