{% extends 'base.html' %}
{% block yavascript %}
<script type="text/javascript" src="/media/jquery1.9.min.js"></script>
<script type="text/javascript" src="/media/jquery.transit.min.js"></script>
<script type="text/javascript">

var imgDataset = []
var idDataset = []
var maxImages = 48
var numImages = 0
var offset = 0

// Used by dataFunction
function drawImages() {
    for( var i = 0; i < imgDataset.length; i++) {
        //$('#img' + i % maxImages).transition({opacity: 0 })
        $('#img' + String(i+offset) ).attr('src',imgDataset[i] );
        $('#img' + String(i+offset) ).attr('data-field',idDataset[i] );
    }
}

// DATA FUNCTION FOR PhysicalModelView RESULT
function dataFunction( data ) {
    console.log("Inside dataFunction");
    console.log(data)
    // Append the results to the imgDataset
    for (var i = 0; i < data['images'].length; i++) {
        imgDataset[numImages % maxImages] =  data['images'][i]
        idDataset[numImages % maxImages] =  data['id'][i]
        numImages++
    }
    drawImages()
}

function performSearch() {
    $.ajax({
        url: queryURL,
        success: dataFunction
    });
}

keyPressHistory = ""
wordMemory = ""
author = ""

{% if user.is_authenticated %}
    author =  "{{ user.username }}"
{% else %}
    author = "anonmous"
{% endif %}

$(document).keypress(function(e) {
    //console.log( e.which )
    var c = String.fromCharCode(e.which)
    keyPressHistory = keyPressHistory + c
    if(e.which == 32 ) {
        console.log( 'space pressed ')
        console.log( wordMemory )
        // The reason for if check on word length is to prevent unecessary requests to server
        if ( wordMemory.length > 2 ) {
            queryURL = "../atlas/model/" + author + "/" + wordMemory + "/"
            console.log( queryURL);
           {% block staticImg %}
            // performSearch();
            {% endblock %}
        }
        wordMemory = ""
    } else {
        c = c.toLowerCase()
        if ( (c >= 'a') && (c <= 'z') ) {
            wordMemory = wordMemory + c
        }
    }
});

(function($){
    $(document).ready(function(){

        for (var i = 0; i < maxImages; i++ ) {
         $('#img'+i).each(function() {
            $(this).attr('src', imgDataset[i]);
         });
         $('#img'+i).transition({ opacity: 1, delay:  (i % 6) * 1000+(Math.random()*1000) })
         .transition( {scale: 0.5, delay:  (i % 6) * 100+(Math.random()*1000) })
         .transition( {scale: 1, delay:  (i % 6) * 100+(Math.random()*1000) })

        $('#img'+i).click(function(){
                console.log( this );
                var url = this.src
                var name = $(this).attr("data-field")
                $.post("imageVote/",
                {name:name}, function(data,status){
                    $('#img' + offset ).attr('src',url );
                    $('#img' + offset ).attr('data-field',name  );
                    offset += 1
                   // alert("1 is found: " + data );
                 //alert("Data: " + data + "\nStatus: " + status);
                });

                // $.get('/atlas/imageVote/', {name:name}, function(data){
                //     console.log(this);
                // });
            })
        }
    })
} ) (jQuery);

</script>

{% endblock %}


















{% block css %}
<style type="text/css">
    html {
        margin:0;
        padding:0;
        color:#000;
    }
    body{
        background-color: #FFFFFF;
    }
    #page {
        margin-left: auto;
        margin-right: auto;
    }
    textarea {
        font: 20px serif;
        width: 99%;
        height: 99%;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-color: #000055;
        border-width: 1px;/*
        border: none;
        outline: none;
        border-style: none;
        border-color: Transparent;*/
        /*overflow: auto;
        position: relative;
        top: -174px;*/
    }
    label {
        /*display: none;*/
    }
    .spectrum {
        opacity: 0;
        width:83px;
        height:83px;
        margin-bottom: 5px;
    }
     </style>
{% endblock %}











{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            {% block center %}

             <form action="/atlas/makeStory?mode={{mode}}&id={{participantID}}" method="post">{% csrf_token %}
                <div class="form-group left">
                Title: {{ form.title }}
                </div>
             <table>
                <div class="form-group left">{{ form.content }}</div>
            </table>
             <button type="submit" class="btn left">Done</button>
            </form>

            {% endblock %}
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

{% endblock %}
