{% extends 'base.html' %}
{% block yavascript %}
<script type="text/javascript">


var numImages = 0
var imgDataset = []
var maxImages = 24

function drawImages(){
    console.log( imgDataset );
    for( var i = 0; i < imgDataset.length; i++) {
        cssBG =  "url(" + imgDataset[i] + ") no-repeat"
        $('#circle' + i).css("background", cssBG )
        //$('#circle' + i).css("opacity", 0 )
        //$('#circle' + i).transition({ opacity: 1, delay: 300*i })
        //$('#circle' + i).transition({ scale: 1, delay: 1000*i })
    }
}
// DATA FUNCTION FOR ASSAILED RESULT
function dataFunction(data)
{
    console.log("In here");
    console.log(" What is data?")
    console.log(data)
    // Append the results to the imgDataset
    for (var i = 0; i < data['images'].length; i++) {
        imgDataset[numImages % maxImages] =  data['images'][i]
        $('#circle' + (numImages % maxImages) ).transition({ opacity: 0 })
        cssBG =  "url(" + imgDataset[numImages % maxImages] + ") no-repeat"
        $('#circle' + (numImages % maxImages) ).css("background", cssBG )
        $('#circle' + (numImages % maxImages) ).transition({ opacity: 1,  })
        numImages++
    }
}


function performSearch()
{
	$.ajax({
    	url: etsyURL,
        success: dataFunction
    });
}

wordMemory = ""
$(document).keypress(function(e) {
    //console.log( e.which )
    var c = String.fromCharCode(e.which)
    //console.log( c )
  if(e.which == 32 ) {
    // console.log( 'space pressed ')
    console.log( wordMemory )
    if ( wordMemory.length > 3 ) {
        etsyURL = "../guestbook/model/" + wordMemory + "/"
        console.log( etsyURL);
        performSearch();
    }
    wordMemory = ""
  } else {
    wordMemory = wordMemory + c
  }
});

(function($){
    $(document).ready(function(){

        });

})(jQuery);
</script>

<script type="text/javascript">





$(document).ready(function(){
    $("#model0").hide();

    var src = document.getElementById("modelTop");
    var numCircles = 6
    var countCircles = 0
    // Top Bar
    for (var i = 0; i < numCircles; i++ ) {
        var newCircle = document.createElement("div");
        newCircle.id = "circle" + countCircles
        newCircle.className = "clip-circle"
        //cssBG =  "url(" + data['images'][0] + ") no-repeat"
        //newCircle..css("background", cssBG )
        src.appendChild(newCircle);
        $("#circle"+countCircles).css("position", "absolute" )
        $("#circle"+countCircles).css("left", 140*i)
        $("#circle"+countCircles).css("top", 10)
        $("#circle"+countCircles).css("opacity", 0)
        countCircles++
    }
    var numCircleDown = 6
    // Down right side
    for (var i = 0; i < numCircleDown; i++ ) {
        var newCircle = document.createElement("div");
        newCircle.id = "circle" + countCircles
        newCircle.className = "clip-circle"
        src.appendChild(newCircle);
        $("#circle"+countCircles).css("position", "absolute" )
        $("#circle"+countCircles).css("left", 140*(numCircles-1) )
        $("#circle"+countCircles).css("top", (130*i)+160)
        $("#circle"+countCircles).css("height", 125)
        $("#circle"+countCircles).css("width", 125)
        $("#circle"+countCircles).css("opacity", 0)
        countCircles++
    }
    // Across the bottom
	for (var i = numCircles-1; i > -1; i-- ) {
        var newCircle = document.createElement("div");
        newCircle.id = "circle" + countCircles
        newCircle.className = "clip-circle"
        src.appendChild(newCircle);
        $("#circle"+countCircles).css("position", "absolute" )
        $("#circle"+countCircles).css("left", 140*i)
        $("#circle"+countCircles).css("top", (numCircleDown*135) +135)
        $("#circle"+countCircles).css("opacity", 0)
        countCircles++
    }

    // Up the left side
    for (var i = numCircleDown-1; i > -1; i-- ) {
        var newCircle = document.createElement("div");
        newCircle.id = "circle" + countCircles
        newCircle.className = "clip-circle"
        src.appendChild(newCircle);
        $("#circle"+countCircles).css("position", "absolute" )
        $("#circle"+countCircles).css("left", 0 )
        $("#circle"+countCircles).css("top", (130*i)+160)
        $("#circle"+countCircles).css("height", 125)
        $("#circle"+countCircles).css("width", 125)
        $("#circle"+countCircles).css("opacity", 0)
        countCircles++
    }

    numTransitions = 10
    for (var i = 0; i < countCircles; i++) {
        $('#circle' + i).transition({ scale: 0.4, delay: 300*i })
        .transition({ opacity: 1.0, delay: 100 })
        .transition( {scale: 1.0, delay: 100  })
        // $('#circle' + i).transition({ scale: 1.0, delay: 1000*i });
        if (i == countCircles-1 && numTransitions > 0 ) {
            i = 0
            numTransitions--
        }
    }

});

</script>

{% endblock %}


















{% block css %}
<style type="text/css">
	html {
		margin:0;
		padding:0;
		color:#000;
	}
	body{
		background-color: #FFFFFF;
	}
	.book {
	}
	.etsy-image{
	}
	td{
		text-align: center;
	}
	#page {
	margin-left: auto ;
  	margin-right: auto ;
	}
	#leftSide{
       border-style: solid;
        border-color: #000000;
        border-width: 1px;
		width: 850px;
		height: 1100px;
		margin-left: auto;
        margin-right: auto;
        position: relative;
		background-color: #FFFFFF;
	}
	#startLeft{
        /*border-style: solid;
        border-color: #000000;
        border-width: 1px;
		*/width: 532px;
        height: 751px;
		margin-left: auto;
        margin-right: auto;
		font: 15px serif;
        position: relative;
        top: 174px;
        /* top: 50%;
        transform: translateY(-50%); */
	}
    #modelTop {
        width: 850px;
        height: 173px;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFFFF;
        position: static;
        float: left;

    }
    textarea {
        font: 20px serif;
        width: 99%;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;/*
        border: none;
        outline: none;
        border-style: none;
        border-color: Transparent;*/
        overflow: auto;
        position: relative;
        top: -174px;
    }
    label {
        display: none;
    }
    .clip-circle{
      background:url(../media/images/NASA_child_bubble_exploration450x250.jpg) no-repeat ;
      background-size:240px 160px;
      background-position: -60px 0px;
      height:135px;
      width:135px;
      border-radius:50%;
      overflow:hidden;
      margin: 5px;
    }
     </style>
{% endblock %}

style>






{% block content %}
<div id="page">
	<div id="isbn"></div>
	<div id="author"></div>
	<div id="title"></div>
	<div id="leftSide">
        <div id="modelTop">
             Please write a short story.
        </div>
		<div id="startLeft">
		 <form action="/guestbook/sign" method="post">{% csrf_token %}
    		<p>{{ form }}</p>
    		<input type="submit" value="Save Page" />
  		</form>
		</div>
	</div>
{% endblock %}
